<h1>All Marks</h1>

<%= form_for @mark do |f| %>
  <%= f.text_field :user_id, placeholder: "User ID" %>
  <%= f.text_field :location, placeholder: "Location" %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>

<% @marks.each do |mark| %>
<div> <%= mark.id %> | <%= mark.user_id %> | <%= mark.location %> </div>
<% end %>

<!-- <table class="table">
	<thead>
		<tr>
			<th>Mark ID</th>
			<th>User ID</th>
			<th>Location</th>
		</tr>
	</thead>

	<tbody>
		<% @marks.each do |mark| %>
			<tr>
				<td><%= mark.id %></td>
				<td><%= mark.user_id %></td>
				<td><%= mark.location %></td>
			</tr>
		<% end %>
	</tbody>
</table> -->