<% if current_user.nil? %>
  <script type="text/javascript">
    window.location.href="/home"
  </script>
<% else %>
<h1>All Marks</h1>

<%= form_for @mark do |f| %>
  <%= f.text_field :user_id, placeholder: "User ID" %>
  <%= f.text_field :location, placeholder: "Location" %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>

<% @marks.each do |mark| %>
	<div> <%= mark.id %> | <%= mark.user_id %> | <%= mark.location %> <%= image_tag mark.photo.url, class: "image" %> <%= link_to("delete", mark_path(mark) ,method: :delete) %> </div>
<% end %>
<% end %>