<table class="table">
	<thead>
		<tr>
			<th>Mark ID</th>
			<th>User ID</th>
			<th>Location</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>@mark.id</td>
			<td>@mark.user_id</td>
			<td>@mark.location</td>
		</tr>
	</tbody>
</table>
<%= @mark.id %> | <%= @mark.user_id %> | <%= @mark.location %>
<<<<<<< HEAD
<%= image_tag(@mark.photo) %>
=======


>>>>>>> anvesh-clean
<%= link_to "Back", marks_path %>
<%= link_to "Delete", mark_path(@mark), method: :delete %>