<section role="tabpanel" class="tab-pane" id="join">
  <h1> Join your friends </h1>
  <% @marks.reverse_each do |post| %>
  <div class="post"> 
    Kavya 
    <span class="post_location"> &nbsp;&nbsp;<%= post.location %> </span>
    <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to content_tag(:button, 'Join', class: "btn btn-default btn-xs"),post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <br />

  <div class="post_content">
    <div> <%= image_tag post.photo.url, class: "post_image" %> </div>
    <div class="post_message"><%= post.message %></div>
    <br />

    <%= simple_form_for @clean, class: "form-horizontal" do |f| %>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-camera"></span>
      </div>
      <div class="col-xs-11">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6"><%= f.input :bphoto, label: "After pic" %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-comment"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :message, placeholder: "Description", label: false %>
      </div>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <hr>
  <% end %>
</section>