
<% unless @mark.photo_url.nil? %><%= image_tag @mark.photo_url %><br />
<%= image_tag @user.avatar_url(:display) %><% end %>
<section role="tabpanel" class="tab-pane active" id="mark">

  <h1>
    Mark a location
  </h1>
  <%= simple_form_for @mark, class: "form-horizontal" do |f| %>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-camera"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :photo, label: "Upload a pic" %>
      </div>
    </div>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-map-marker"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :location, placeholder: "Area/Place, City", label: false %>
      </div>
    </div>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-comment"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :message, placeholder: "Description", label: false %>
      </div>
    </div>
    <%= f.hidden_field :user_id %>
    <%= f.submit "Upload", class: "btn btn-primary btn-lg" %>
  <% end %>


  <% @marks.reverse_each do |post| %>
  	<hr>
  	<div class="post">
      <%= current_user.name %>
      <span class="post_location"> &nbsp;&nbsp;<%= post.location %></span>
        <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"),post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to content_tag(:button, 'Start', class: "btn btn-default btn-xs"),post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br />

    <div class="post_content">
      <div> <%= image_tag post.photo.url, class: "post_image" %> </div>
      <div class="post_message"><%= post.message %></div>
    </div>
  <% end %>
</section>

