<section role="tabpanel" class="tab-pane active" id="mark">
  
<%= form_for @mark do |f| %>
  <div class="form-group">
    <label for="location">Location</label>
    <%= f.text_field :location, class: "form-control", placeholder: "Area/Place, City" %>
  </div>
        
  <div class="form-group">
    <%= f.file_field :photo %>
  </div>
  
  <%= f.submit "Submit", class: "btn btn-default"%>

<% end %>
</section>

<% @marks.reverse_each do |mark| %>
	<hr>
	<div class="name"> Kavya <span class="location"> &nbsp;&nbsp;<%= mark.location %> </span></div><br />
	<div> <%= image_tag mark.photo.url, class: "image" %> </div>
	<!-- <div> <%= link_to("delete", mark_path(mark) ,method: :delete) %> </div> -->
<% end %>