<section role="tabpanel" class="tab-pane" id="mark">
  <h1>
    Mark a location
  </h1>
  <%= simple_form_for @mark, class: "form-horizontal" do |f| %>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-camera"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :photo, label: "Upload a pic" %>
      </div>
    </div>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-map-marker"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :location, placeholder: "Area/Place, City", label: false %>
      </div>
    </div>
    <div class="input_grp container-fluid">
      <div class="icon_container col-xs-1">
        <span class="glyphicon glyphicon-comment"></span>
      </div>
      <div class="col-xs-11">
        <%= f.input :message, placeholder: "Description", label: false %>
      </div>
    </div>
    <%= f.submit "Upload", class: "btn btn-primary btn-lg" %>
  <% end %>


  <% @marks.reverse_each do |mark| %>
  	<hr>
  	<div class="user_name"> Kavya <span class="mark_location"> &nbsp;&nbsp;<%= mark.location %> </span><%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"), mark, method: :delete, data: { confirm: 'Are you sure?' } %></div><br />
    <div class="mark_post">
      <div> <%= image_tag mark.photo.url, class: "mark_image" %> </div>
      <div class="mark_message"><%= mark.message %></div>
      <div> </div>
    </div>
  	
  	<!-- <div> <%= link_to("delete", mark_path(mark) ,method: :delete) %> </div> -->
  <% end %>
</section>

