
<section role="tabpanel" class="tab-pane" id="share">
  

      <h1>
        Share
      </h1>

      <%= simple_form_for @clean, class: "form-horizontal" do |f| %>

        <div class="input_grp container-fluid">
          <div class="icon_container col-xs-1">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <div class="col-xs-11">
            <%= f.input :location, placeholder: "Area/Place, City", label: false %>
          </div>
        </div>
        <div class="input_grp container-fluid">
          <div class="icon_container col-xs-1">
            <span class="glyphicon glyphicon-camera"></span>
          </div>
          <div class="col-xs-11">


            <%= f.input :bphoto, label: "Before pic" %>
          
          
            <%= f.input :aphoto, label: "After pic" %>

          </div>
        </div>
        <div class="input_grp container-fluid">
          <div class="icon_container col-xs-1">
            <span class="glyphicon glyphicon-comment"></span>
          </div>
          <div class="col-xs-11">
            <%= f.input :message, placeholder: "Description", label: false %>
          </div>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
      <% end %>


      <% @cleans.reverse_each do |clean| %>
        <hr>
        <div class="name"> Bhavya <span class="location"> &nbsp;&nbsp;<%= clean.location %> </span></div><br />
        <div> <%= image_tag mark.bphoto.url, class: "image" %> </div>
        <div> <%= image_tag mark.aphoto.url, class: "image" %> </div>
        <!-- <div> <%= link_to("delete", mark_path(mark) ,method: :delete) %> </div> -->
      <% end %>
    </section>





