<%= render 'common/header' %>
    <div class="container">
      <h1>About Us</h1>

      <div id="members">
        <div class="member">
          <%= image_tag 'team/sri.jpg' %>
        </div>
        <div class="member">
          <%= image_tag 'team/bhavya.jpeg' %>
        </div>
        <div class="member">
          <%= image_tag 'team/rajan.png' %>
        </div>
        <div class="member">
          <%= image_tag 'team/anvesh.jpg' %>
        </div>
        <div class="member">
          <%= image_tag 'team/chirag.png' %>
        </div>
      </div>
    </div>

<%= render 'common/footer' %>