<%= render 'common/header' %>
    <div class="container">
      <h1>About Us</h1>

      <div id="members">
        <div class="member row">
          <div class="col-sm-3">
            <%= image_tag 'team/anvesh.png' %>
          </div>
          <div class="col-sm-9">
            <h2><span class= "glyphicon glyphicon-star"></span>Anvesh</h2>
          </div>
        </div>
        <div class="member row">
          <div class="col-sm-3">
            <%= image_tag 'team/rajan.png' %>
          </div>
          <div class="col-sm-9">
            <h2><span class= "glyphicon glyphicon-star"></span>Rajan</h2>
          </div>
        </div>
        <div class="member row">
          <div class="col-sm-3">
            <%= image_tag 'team/sri.jpg' %>
          </div>
          <div class="col-sm-9">
            <h2><span class= "glyphicon glyphicon-star"></span>Srikavya</h2>
          </div>
        </div>
        <div class="member row">
          <div class="col-sm-3">
            <%= image_tag 'team/bhavya.jpeg' %>
          </div>
          <div class="col-sm-9">
            <h2><span class= "glyphicon glyphicon-star"></span>Bhavya</h2>
          </div>
        </div>
        <div class="member row">
          <div class="col-sm-3">
            <%= image_tag 'team/chirag.png' %>
          </div>
          <div class="col-sm-9">
            <h2><span class= "glyphicon glyphicon-star"></span>Chirag</h2>
          </div>
        </div>
      </div>
    </div>

<%= render 'common/footer' %>