<%= render 'common/header' %>

<div align="center">
  <h3 class="conhead">Send A message to Us</h3>

  <div> We will be glad to have your feedback and suggestions</div>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= render 'common/footer' %>